* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/*Header*/
.container {
    width: 1280px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 63px;
    margin-bottom: 50px;
}

.logo {
    text-decoration: none;
    display: flex;
}

.word {
    color: #000;
    text-align: center;
    font-size: 80px;
}

.wordend {
    color: #4BCAFF;
    font-size: 80px;
}

.menuitem {
    display: flex;
    justify-content: space-between;
    background-color: #35444F;
    margin-top: 40px;
    height: 69px;
}

.list_item {
    color: #FFF;
    font-size: 24px;
    text-decoration: none;
    padding: 24px 50px 18px;
    border-left: #FFFFFF 1px solid;

}

/*.menuitem{*/
/*    padding: 24px 50px 18px;*/
/*    border-left: #FFFFFF 1px solid;*/

/*}*/
/*.item_style {*/
/*    background: #DBDBDB;*/
/*}*/

/*Main*/
.container {
    width: 1280px;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
}

.section {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

li {
    padding: 30px 70px 44px 52px;
}

.list-hover:hover {
    background-color: #222F3A;
}

.item {
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding-bottom: 20px;
}

/*.itemone {*/
/*    color: #000;*/
/*    font-size: 27px;*/
/*    line-height: 27px;*/
/*}*/

.item_style:hover {
    background-color: #DBDBDB;
}
.style-ramda:hover{
    color: black;
}

.imaige {
    border: 1px solid black;
    padding: 75px 268px 73px 297px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 400px;
}

.paragraph {
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-bottom: 13px;
}

/*footer*/
.container {
    width: 1280px;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

.footermain {
    display: flex;
    justify-content: space-between;;
    background: rgba(99, 105, 110, 0.48);
}

.footer_item {
    padding: 20px 0 21px 40px;
    /*padding: 5px 5px 5px 5px;*/
}

.footer_item_style {
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
}

.lust_item {
    padding-left: 40px;
    padding-right: 40px;
}

.why_style:hover {
    color: #4BCAFF;
    border-bottom: 3px solid #4BCAFF;
}
